{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <br>
    Bienvenidos a la tienda.
    <br>
    Método: {$method}
 </div>
{include file="template/footer.tpl" title="footer"}