{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <h2>{$language->translate('product_list')}</h2>
    
    <p><a href="{$url}{$lang}/product/add">{$language->translate('new_product')}</a></p>
    <table><thead>
        <tr>   
            <th>{$language->translate('codigo')}</th>
            <th>{$language->translate('nombre')}</th>
            <th>{$language->translate('precio')}</th>
            <th>{$language->translate('existencia')}</th>
            <th>{$language->translate('operation')}<th>
        </tr>
        </thead>
        <tfoot>
            <tr class="cell">
                <td class="cell"><input id="codigo" class="cell" type="text"></td>
                <td class="cell"><input id="nombre" class="cell" type="text"></td>
                <td class="cell"><input id="precio" class="cell" type="text"></td>
                <td class="cell"><input id="existencia" class="cell" type="text"></td>
                <td class="new"<a>Nuevo</a></td>
            </tr>
        </tfoot>
                    
            </tr        
            
        </tfoot>
        <tbody>
            <tr>
                <td class="cell"><input id="codigo" class="cell" type="text"></td>
                <td class="cell"><input id="nombre" class="cell" type="text"></td>
                <td class="cell"><input id="precio" class="cell" type="text"></td>
                <td class="cell"><input id="existencia" class="cell" type="text"></td>
                <td>                  operacion                </td>
            </tr>
        </tbody>
    </table>
    
    <p><a href="{$url}{$lang}/product/add">{$language->translate('new_product')}</a></p>

 </div>
{include file="template/footer.tpl" title="footer"}